.tag-list-button {
    background: url('../../../../../assets/images/tag-list.png') no-repeat;
    background-size: 80% 80%;
    background-position: center; 
}
.device-manage-button {
    background: url('../../../../../assets/images/device-manage.png') no-repeat;
    background-size: 70% 70%;
    background-position: center; 
}
.building-status-button {
    background: url('../../../../../assets/images/building-status.png') no-repeat;
    background-size: 80% 80%;
    background-position: center; 
}